<h4 mat-dialog-title class="border-bottom pb-2">Create Trade</h4>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col">
        <form [formGroup]="form" (ngSubmit)="trade?update():submit()">
          <p>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Title</mat-label>
              <input type="email" matInput formControlName="title" placeholder="Some Nice Title">
              <mat-icon matSuffix>alternate_email</mat-icon>
              <mat-error *ngIf="form.controls.title.hasError('required')">
                Title is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Body</mat-label>
              <textarea matInput formControlName="body" placeholder="Some cool body"></textarea>
              <mat-icon matSuffix>alternate_email</mat-icon>
              <!-- <mat-hint>Hint</mat-hint> -->
              <mat-error *ngIf="form.controls.body.hasError('required')">
                Body is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <button class="w-100 py-1" type="submit" mat-flat-button color="primary" [disabled]="!form.valid">{{trade?'Update':'Create'}}</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
